body {
  font-family: Arial;
  background: #0f172a;
  color: #e2e8f0;
  margin: 0;
  padding: 20px;
}

/* .container {
  max-width: 800px;
  margin: 0 auto;
  background: #1e293b;
  padding: 24px;
  border-radius: 8px;
} */

h1 {
  color: #06b6d4;
}

label {
  display: block;
  margin-top: 10px;
  color: #e2e8f0;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #475569;
  background: #0f172a;
  color: #e2e8f0;
  box-sizing: border-box;
}

button {
  background: #8b5cf6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: #a78bfa;
}

a {
  color: #06b6d4;
  text-decoration: none;
}